   <nav class="navbar navbar-expand-sm bg-danger">
  <ul class="navbar-nav">
    <img src="https://dynamic.brandcrowd.com/asset/logo/f3500bdc-c0cb-448e-9e91-d380773b37b6/logo?v=4" alt="" width="100px" height="50px">
    <li class="nav-item">
      <a routerLink="nav" class="nav-link">navbar</a>
    </li>
    <li class="nav-item">
      <a routerLink="reactive" class="nav-link">Reactive</a>
    </li>
    <li class="nav-item">
      <a routerLink="template" class="nav-link">template</a>
    </li>
    <li class="nav-item">
    <a routerLink="http" class="nav-link">HTTP</a>
    </li>
    <li class="nav-item">
     <a routerLink="pipes" class="nav-link">pipes</a>
    </li>
  </ul>
</nav> 
<!-- <div class="sidenav">
<a routerLink="nav">navbar</a>
<a routerLink="reactive">Reactive</a>
<a routerLink="template">template</a>
<a routerLink="http">HTTP</a>
<a routerLink="pipes">pipes</a>
</div> -->
<router-outlet></router-outlet> 
 
