p {
    font-family: Lato;
  }
  .wrapper{
    background-color: burlywood;
    width: 200px;
    color: white;
    text-align: center;
    height: 100rem;
    /* position: fixed; */
  }
  .sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    /* top: 70; */
    left: 0;
    background-color: rgb(24, 158, 46);
    overflow-x: hidden;
    padding-top: 30px; 
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    color: white;
  
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
    /* position: fixed; */
  }
  
  .main {
    margin-left: 160px; 
      font-size: 28px;
      padding: 0px 10px;
      /* position: fixed; */
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;} 
   } 
  #demo{
      text-align: center;
      /* position: fixed; */
  }
  .navbar-brand {
    color: aliceblue;
    text-align: center;
  margin-left: 150px; 
  /* position: fixed; */
  }